<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block"
  rel="stylesheet"
/>
<header>
  <nav class="col-content">
    <ul class="nav-area">
      <div class="navigation">
        <li>
          <a>new vehicles</a>
        </li>

        <li>
          <a>used vehicles</a>
        </li>
        <li>
          <a>financing</a>
        </li>
        <li>
          <a>parts</a>
        </li>
        <li>
          <a>register your vehicle</a>
        </li>
      </div>
      <div class="details">
        <li>
          <mat-icon>phone_in_talk</mat-icon>
          <a>+996 (0)12 6614047</a>
        </li>
        <li class="favorite">
          <mat-icon>favorite</mat-icon>
        </li>
        <li>
          <mat-icon>account_circle</mat-icon>
          <a>Login</a>
        </li>
      </div>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>
